@import url(https://db.onlinewebfonts.com/c/b9561c58f8199daedf9095bf03ae7917?family=Franklin+Gothic+ATF+Regular);
@import "./modal";


@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}


.container {
  @include flexCenter(column);
  margin: auto;
  max-width: 800px;
  height: 100vh;

}

.open {
 
&__button {
  padding: 15px 45px;
  border: none;
  outline: none;
  color: #203240;
  background: #fff100;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  font-family: "Franklin Gothic ATF Regular", sans-serif;
  text-align: center;

  i {
    margin-left: 1.2rem;
  }
  
  &:hover {
    cursor: pointer;
    background: #ecc70c;
  }
}

}